@model NotesMarketplace.context.NoteCategory

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

@using (Html.BeginForm("AddCategory", "Settings", FormMethod.Post))
{
    <section class="admin1">
        <h1>Add Category</h1>
    </section>
    <div class="form-group1">
        <form>


            <label class="control-label required" for="category">Category Name</label><br>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "margin-left: 20px;" })

            <label class="control-label required" for="desc">Description</label><br>
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @cols = "50", @rows = "12", @style = "margin-left: 20px;" })

            <button type="submit" class="btn btn-secondary">SUBMIT</button>

        </form>
    </div>
}