@model NotesMarketplace.context.Country

@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

@using (Html.BeginForm("AddCountry", "Settings", FormMethod.Post))
{
    <section class="admin1">
        <h1>Add Country</h1>
    </section>
    <div class="form-group1">
        <form>

            <label class="control-label required" for="country">Country Name</label><br>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "margin-left: 20px;" })

            <label class="control-label required" for="code">Country Code</label><br>
            @Html.TextAreaFor(x => x.Countrycode, new { @class = "form-control", @cols = "50", @rows = "12", @style = "margin-left: 20px;" })

            <button type="submit" class="btn btn-secondary">SUBMIT</button>

        </form>
    </div>
}