@model NotesMarketplace.context.UserProfile

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

@using (Html.BeginForm("AddMyProfile", "UserProfile", FormMethod.Post))
{
    <section class="admin1">
        <h1>My Profile</h1>
    </section>
    <div class="form-group1">

        <form>
            <label class="control-label required" for="username">First Name</label><br>
            <input type="text" id="username1" name="data[username]" value="@Session["FirstName"]" required="required" class="form-control" placeholder="John">

            <label class="control-label required" for="username" style="margin-top: 30px">Last Name</label><br>
            <input type="text" id="username1" name="data[username]" value="@Session["LastName"]" required="required" class="form-control" placeholder="Pickard">

            <label class="control-label required" for="username" style="margin-top: 30px">Email</label><br>
            <input type="email" id="mail" name="data[username]" value="@Session["EmailID"]" required="required" class="form-control" placeholder="fernandoocram@gmail.com">

            <label id="mail" for="exampleInputPassword1" style="margin-top: 30px">Secondary Email</label><br>
            <input type="email" name="player_password" id="mail" placeholder="Enter Your Email Address" /><br>

            <label id="pnumber" for="exampleInputPassword1">Phone Number</label><br>
            <select id="code" name="code">
                <option value="91">+91</option>
                <option value="1">+1</option>
                <option value="2">+2</option>
                <option value="3">+3</option>
            </select>
            <input type="tel" name="player_password" id="number" placeholder="Enter your phone number" /><br>

            <label id="pic" for="exampleInputPassword1">Profile Picture</label><br>
    <input type="file" name="ImageFile" style="padding:5px 250px" />


            <button type="submit" class="btn btn-secondary">SUBMIT</button>

        </form>
    </div>
}
