@model WebApplication3.context.SellerNote

@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_mytemplate1.cshtml";
}

@using (Html.BeginForm("AddNotes", "Notes", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
        <section class="first-section">

        <h2>Add Notes</h2>
    </section>

<section class="admin1">
    <h1>Basic Note Details</h1>

</section>
<div class="form-group1">

    <form>
        <div class="full">
            <div class="left">
                <label class="control-label required" for="title" style="margin-top: 40px">Title</label><br>
                <input type="text" id="title" name="data[username]" required="required" class="form-control" placeholder="Enter your notes title" style="margin-left: 20px">

                <label id="pic" for="exampleInputPassword1" style="margin-top: 30px">Display Picture</label><br>
                <input type="file" name="ImageFile" required/><br>


                <label for="username" style="margin-top: 40px">Type</label><br>
                <select id="country" style="margin-left: 20px">
                    <option value="type">Select your note type</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

                <label class="control-label required" for="description" style="margin-top: 30px">Description</label><br>
                <textarea class="area" rows="4" cols="50" placeholder="Enter your description"></textarea>
            </div>
            <div class="right">
                <label for="username" style="margin-top: 40px;">Category</label><br>
                <select id="country">
                    <option value="category">Select your category</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

                <label class="control-label required" id="pic" for="exampleInputPassword1" style="margin-top: 30px;">Upload Notes</label><br>
                <input type="file" name="ImageFile1" required /><br>


                <label for="pages" style="margin-top: 30px;">Number Of Pages</label><br>
                <input type="text" id="pages" name="data[username]" required="required" class="form-control" placeholder="Engter number of pages">

            </div>
        </div>

        <section class="admin1">
            <h1>Institution Information</h1>
        </section>

        <div class="full">
            <div class="left">

                <label for="username" style="margin-top: 40px">Country</label><br>
                <select id="country" style="margin-left: 20px">
                    <option value="country">Select Your Country</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

            </div>

            <div class="right">
                <label for="institution" style="margin-top: 40px;margin-left: -2px">Institution Name</label><br>
                <input type="text" id="institution" name="data[username]" required="required" class="form-control" placeholder="Enter your institution name">
            </div>
        </div>


        <section class="admin1">
            <h1>Course Details</h1>
        </section>
        <div class="full">
            <div class="left">
                <label for="coursename" style="margin-top: 40px">Course Name</label><br>
                <input type="text" id="cname" name="data[username]" class="form-control" placeholder="Enter your course name" style="margin-left: 20px">

                <label for="professor" style="margin-top: 30px">Professor/Lecture</label><br>
                <input type="text" id="professor" name="data[username]" class="form-control" placeholder="Enter your professor name" style="margin-left: 20px">

            </div>


            <div class="right">
                <label for="code" style="margin-top: 40px;margin-left: -2px">Course Code</label><br>
                <input type="text" id="ccode" name="data[username]" required="required" class="form-control" placeholder="Enter your course code">
            </div>
        </div>


        <section class="admin1">
            <h1>Selling Information</h1>
        </section>
        <div class="full">
            <div class="left">
                <label class="control-label required" for="price" style="margin-top: 40px">Sell For</label><br>
                <input type="radio" id="free" name="sell" value="free" style="margin-left: 20px">
                <label1 for="free">Free</label1>
                <input type="radio" id="paid" name="price" value="paid" style="margin-left: 20px">
                <label1 for="paid">Paid</label1><br />


                <label class="control-label required" for="price" style="margin-top: 30px">Sell Price</label><br>
                <input type="text" id="price" name="data[username]" class="form-control" placeholder="Enter your price" style="margin-left: 20px">


            </div>

            <div class="right">
                <label class="control-label required" id="pic" for="exampleInputPassword1" style="margin-top: 40px;">Note Preview</label><br>
                <input type="file" name="ImageFile2" required /><br>

            </div>
        </div>
        <button type="submit" class="btn btn-secondary">SAVE</button>
        <button type="submit" class="btn btn-secondary">PUBLISH</button>

    </form>
</div>


}