/* Common for all */
body,
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}


/* Navigation */

.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 5px 0;
    background: transparent;
    color: white;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 20px;
    transition: all .5s ease-in-out;
    /* z-index: 999; */
}

.scroll,.scroll-2 {
    background-color: white;
    color: black;
    box-shadow: 0 8px 6px -6px rgb(230, 230, 230);
}

.navigation-wrapper a {
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 20px;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 0px rgba(0, 0, 0, .6);
    text-decoration: none;
    padding: 0 15px;

}

.navigation-wrapper a:hover{
    border-bottom: 3px solid #6255a5;
    padding-bottom: 3px;
    color: #6255a5;
}


.sc a,.sc-2 a {
    color: black;
}

.navigation-wrapper button {
    padding: 10px 0px 10px 0px;
    border: none;
    margin-left: 50px;
    background-color: white;
    width: 480px;
    /* height: 30px; */
    border-radius: 3px;
    color: #6255a5;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
}

.sc button,.sc-2 button {
    background-color: #6255a5;
    color: white;
}

.sec-8 {
    display: none;
}

@media screen and (max-width: 1200px) {
    .navigation-wrapper a {
        display: none;
    }

    .navigation-wrapper a.icon {
        float: right;
        display: block;
    }

    .wrapper .logo-wrapper img {
        width: 200px;
        height: 30px;
        position: absolute;
        left: 5%;
        top: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .navigation-wrapper.responsive {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        background-color: white;
    }


    .sec-8 {
        display: block;
        position: absolute;
        right: 5%;
        /* top: 20%; */
    }

    .navigation-wrapper.responsive a {
        float: none;
        display: block;
        padding: 20px;
        color: black;
    }

    .sc a {
        color: black;
    }

}

/*start aindex 0,1*/

/*Logo aindex 0,1*/
.center {
    margin-top: 7%;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.bg-img {
    display: flex;
    justify-content: center;
}

.container {
    position: absolute;
    width: 632px;
    padding: 16px;
    background-color: white;
}


.container #signup p {
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #333333;
}

.container h1,
.container h5 {
    text-align: center;
}

.heading h1 {
    text-align: center;
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 50px;
}

.heading h5 {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 19px;
    color: #333333;
    margin-left: 30px;
}

.heading h6 {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    text-align: center;

}

.heading p {
    margin-left: 50px;
    color: #ff3636;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

}

.form-group label,
.form-group2 label,
.form-group3 label {
    margin-left: 10%;

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: 333333;
}

.form-group .field_icon {
    margin-left: -40px;
    color: #d1d1d1;
}

.form-group #pass_log_id {
    border-color: #d1d1d1;
}

.form-group #pass_log_id::placeholder {
    color: #d1d1d1;
}


.container input[type=email] {
    margin-top: 10px;

    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-left: 50px;
}

.container input[type=password] {
    margin-left: 50px;
    border: 1px solid #ff5e5e;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-top: 10px;
}

.container ::placeholder {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #d1d1d1;
    margin-top: 0;
}

.form-group p {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #ff3636;
    margin-left: 50px;
    margin-top: 30px;
}

input[type=checkbox] {
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-left: 50px;
}

.form-group .form-check-label {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-left: 90px;
    margin-top: -30px;
    display: flex;

}

.container button {
    padding: 10px 0px 10px 0px;
    border: none;

    background-color: #6255a5;
    width: 480px;
    /* height: 30px; */
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;

}

/*index3*/
.container #signup p {
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: Regular (400);
    margin-top: 20px;
    color: #333333;
}

.container input[type=text] {
    margin-left: 50px;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-top: 10px;
}

.container .create {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*index5*/
.heading h2 {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;

}

.index5{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200;
}

.heading h4 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;

}

.verification p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
    color: #333333;
    margin-left: 0;
}

.verify {
    display: flex;
    flex-direction: column;
}

/* aindex all */

.admin h1 {

    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 60px;

}

.admin p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    margin-top: 30px;

}


.container1 {
    width: auto;
    padding: 16px;
}

/*aindex2*/
.row-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 151px;
    border: 1px solid #d1d1d1;
    padding: 0px 20px;
    width: 100%;
}

.dashboard-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 151px;
    border: 1px solid #d1d1d1;
    padding: 0px 20px;
}

.in-ds-1 {
    border-right: 1px solid #d1d1d1;
    padding: 10px 20px;
}

.in-ds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.inner-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.dashboard h2,
.dashboard-8 h2 {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #6255a5;

}

.dashboard p1,
.dashboard-8 p1 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}


.row-flex-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
}

.search-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.flex-search-buttons button,
.add-admin-btn button {
    color: white;
    background: #6255a5;
    /* height: 35px; */
    width: auto;
    border: none;
    border-radius: 3px;
    padding: 12px;
}

#month {
    padding: 10px;
    border-color: #d1d1d1;
    color: #d1d1d1;
    border-radius: 3px;
}

.search {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

.main-table {
    font-family: "Open Sans";
    border-collapse: collapse;
    margin: 0px 20px;

}

.main-table td,
.main-table th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px 0;
}

.main-table .line {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;


}

.main-table table,
.main-table th,
.main-table td {
    border-left: none;
    border-right: none;
}

.main-table tr:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}

.more-menu {
    width: 100px;
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;

}

.more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-menu {
    position: absolute;
    right: 90px;
    width: auto;
    z-index: 900;
    float: left;
    padding: 10px 0;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.more-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.more-menu-item {
    display: block;
}

.more-menu-btn {
    min-width: 100%;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}

.more-menu-item:hover {
    background-color: #489fe5;
}

.more-menu-item:hover .more-menu-btn {
    color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
    background-color: #516471;
}

.show-more-menu .more-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}


/*aindex3*/
.admin1 h1 {
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 100px;
    padding: 0 0 0 20px;
}

.form-group1 label {
    margin-left: 20px;
    margin-top: 45px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: 333333;
}

.form-group1 input[type=text],
.form-group1 input[type=email],
.form-group1 input[type=country],
.form-group1 input[type=url],
.form-group1 input[type=number] {
    width: 705px;
    height: 50px;
    border: 1px solid #d1d1d1;

}

.form-group1 #code {
    width: 80px;
    height: 50px;
    border: 1px solid #d1d1d1;

    background-color: white;

}

.form-group1 input[type=text],
.form-group1 input[type=email],
.form-group1 input[type=date],
.form-group1 input[type=number] {
    width: 705px;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;


}

.form-group1 #gender,
.form-group1 #category,
.form-group1 #country,
.form-group1 #type {
    width: 705px;
    height: 50px;
    border: 1px solid #d1d1d1;
    background-color: white;

}

.form-group1 input[type=tel] {
    border: 1px solid #d1d1d1;
    width: 600px;
    height: 50px;
    margin-left: 20px;
}

.form-group1 input[type=image] {
    border: 1px solid #d1d1d1;
    margin-left: 20px;
    width: 705px;
    height: 100px;
    padding: 5px 250px;
}

.form-group1 button {
    margin-left: 20px;
    width: 130px;
    height: 35px;
    color: white;
    background: #6255a5;
    margin-top: 30px;
    margin-bottom: 20px;

}

.area {
    border: 1px solid #d1d1d1;
    width: 705px;
    height: 150px;
    margin-left: 20px;
}



.main-table .buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.buttons button {
    width: auto;
    border: none;
    border-radius: 3px;
    padding: 5px 9px;
    color: white;
    font-family: "Open Sans";
    font-style: 600;
    font-size: 18px;
    line-height: 22px;
}

#seller,
#note,
#buyer {
    padding: 10px;
    border-color: #d1d1d1;
    color: #d1d1d1;
    border-radius: 3px;


}

.er {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 100px;
}

.er1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15px;
}


.first-section,
.first-section-8 {
    background: url('../images/banner-with-overlay%2012.jpg') no-repeat;
    padding-bottom: 60px;
}

.first-section-8 {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.first-section-8 h2 {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    color: #fff;
    padding: 0px 0px 0px 180px;
    margin-top: 0;

}

.first-section h2 {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    color: #fff;
    padding: 250px 40px 250px 0px;
    margin-top: 0;
}

.first-section p,
.first-section-8 p {
    font-family: "Opne Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    padding: 0px 100px 0px 250px;
}

.first-section .sec,
.first-section-8 .sec {
    color: #fff;
    width: 172px;
    height: 30px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0px 0 0px;
    background-color: transparent;
    border-color: white;
    padding: 0 10px 0px 10px;
    position: relative;
    top: 8px;
    left: 30px;
    border: none;
}

.box1 {
    height: 50px;
    width: 235px;
    border: 3px solid white;
    background-color: transparent;
    position: relative;
    top: 10px;
    left: 250px;

}

.admin1 p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 0 20px;
}

.full,
.full1 {
    display: flex;
    flex-direction: row;

}

.full .left-8 {
    padding-left: 250px;
    padding-top: 60px;
}

.full1 {
    justify-content: space-around;
}

.full1 button {
    width: 172px;
    height: 30px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #6255a5;
    justify-items: center;
    position: relative;

    bottom: 60px;
    border: none;
}

.left1 h1,
.right1 h1 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    position: relative;
    bottom: 70px;
}

.right1 h1 {
    padding: 0 0 0 100px;
}

.left1 h4,
.right1 h4 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    position: relative;
    bottom: 70px;
    padding: 0 0 0 80px
}

.left1 button {
    left: 70px
}

.right1 button {
    left: 50px;
}

.right {
    padding: 0 0 0 30px;
}

.right p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    padding: 15px 0 0 140px;
}

.admin1 h2 {
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;

    padding: 0 0 0 20px;
}

textarea {
    border: 1px solid #d1d1d1;
    width: 705px;
    height: 265px;
    border-radius: 3px;
}

.both {
    display: flex;
    flex-direction: row;
}

.author-name-des h3 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
    padding-left: 20px;
    margin-bottom: 0;
}

.author-name-des p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding-left: 20px;
    padding-top: 0;

}

.trio {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 40px;
    width: 650px;
    height: 278px;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}

.grid-contain {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.desc p {
    padding-top: 15px;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    color: #333333;
}

/*index7*/

.select {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;

}

.select > #select {
    margin: 10px;

}

.select #select {
    border: 1px solid #d1d1d1;
    width: 212px;
    height: 50px;
    border-radius: 3px;
    background-color: white;

}

.fs {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.filter {
    padding: 30px 0 0 20px;
}

.grid-container {
    display: grid;
    grid-gap: 30px 50px;
    grid-template-columns: auto auto auto;
    padding: 0 20px;
}

.grid-item h1 {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
    padding: 10px 0 0 30px;
}

.box {
    background-color: transparent;
    width: 450px;
    border: 1px solid #d1d1d1;
    height: 300px;
}

/*rating*/
.fas.fa-star {
    color: rgb(255, 208, 1);

}

.far.fa-star {
    color: #d1d1d1;
}


.demo-problem,
.demo-solution {
    font-size: 16px;
}

.demo-solution--flexbox {
    display: flex;
    align-items: center;

}

.demo-solution--flexbox img {
    padding: 10px 15px 10px 30px;
    height: auto;
    width: auto;
}

.it {
    display: flex;
    flex-direction: column;


}

.it span {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 10px 0;
}

.it1 {
    display: flex;
    flex-direction: row;
}

.full .right-8 {
    padding: 0 0 0 30px;
}


/* pagination */
.pagination,
.jsgrid .jsgrid-pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem
}

.page-link {
    color: black
}

.pagination.pagination-rounded-flat .page-item {
    /* margin: 0 .25rem */
}

.pagination-rounded-flat {}

.pagination-success .page-item.active .page-link,
.card-body a {
    background: #6255a5;
    border-color: #6255a5;
}

.pagination.pagination-rounded-flat .page-item .page-link,
.card-body a {
    border: none;
    border-radius: 50px
}


/*Footer*/
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #333333;
}

.footer-hr {
    margin: 0px;
}

h3 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    color: #000;

}

.page-flex {
    display: flex;
    justify-content: center;
}

.full-2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.full-2 .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.full-2 .top label {
    margin-top: 0px;
}

.footer .fab.fa-facebook-f,
.fab.fa-twitter,
.fab.fa-linkedin-in {
    width: 35px;
    height: 25px;
    border-radius: 50%;
    background-color: #6255a5;
    color: white;
    display: inline;
    padding: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-file-image {
    display: none;
}

.first-section h2 {
    margin-left: 45%
}

.first-section-8 h2 {
    margin-left: 5%;
}


@media screen and (max-width: 800px) {

    .center {
        display: block;
        height: 30px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 70%;
    }

    .container input[type=email] {
        width: 80%;
        height: 30px;
        margin-left: 5%;
    }

    .container input[type=password] {
        width: 80%;
        height: 30px;
        margin-left: 5%;
    }

    .container button {
        margin-left: 5%;
        width: 80%;
    }

    .heading h1 {
        font-size: 26px;
    }

    .heading h5 {
        font-size: 12px;
        font-weight: 400;
        margin-left: 0px;
    }

    .bg-img {
        width: 80%;
        display: block;
        margin: auto;
    }

    .heading p {
        margin-left: 5%;
        font-size: 10px;
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-left: 5%;
    }


    .form-group label,
    .form-group2 label,
    .form-group3 label {
        margin-left: 5%;
        font-size: 12px;
    }

    .form-group .form-check-label {
        font-size: 12px;
        margin-left: 17%;
        align-items: center;
        margin-top: -25px;

    }

    .container #signup p {
        text-align: left;
        margin-left: 5%;
        font-size: 12px;
    }


    .main-nav a:not(:first-child) {
        display: none;
    }

    .main-nav a.icon {
        float: right;
        display: block;
    }

    .main-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .row-flex {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .search-flex {
        flex-direction: column;
        align-items: flex-start;
    }


    /*aindex3*/
    .admin1 h1 {
        font-size: 26px;
    }

    .form-group1 label {
        margin-left: 5%;
        font-size: 12px;

    }

    .form-group1 input[type=text],
    .form-group1 input[type=email],
    .form-group1 input[type=country],
    .form-group1 input[type=url],
    .form-group1 input[type=number],
    .form-group1 input[type=date] {
        width: 90%;
    }

    .form-group1 #code {
        width: 10%;

    }

    .form-group1 input[type=tel] {
        width: 75%;
        margin-left: 5%;
    }

    .form-group1 #image {

        width: 90%;

    }

    .form-group1 button {
        margin-left: 5%;
        width: 90%;
    }

    .btn-file-image {
        display: block;
        margin-left: 5%;
        width: 200px;
    }

    .search-flex {
        flex-direction: column;
        row-gap: 20px;
    }

    .area {
        width: 90%;
    }

    .search {
        width: 90%;
        padding: 10px 50px 10px 10px;
    }

    .er1 {
        flex-direction: column;
        row-gap: 15px;
    }

    .er {
        display: none;
    }


    .form-group #pass_log_id {
        font-size: 14px;
    }

    .form-group #pass_log_id::placeholder {
        font-size: 14px;
    }



    .container input[type=text] {
        margin-left: 5%;
        width: 80%;
        height: 30px;
    }

    .full,
    .full1 {
        display: flex;
        flex-direction: column;

    }

    .full1 {
        justify-content: space-around;
    }


    .verify h2 {
        font-size: 20px;
    }

    .verify h4 {
        font-size: 18px;
    }

    .verify button {
        font-size: 12px;
        width: auto;
    }

    .index5 img {
        width: 200px;
        height: 30px;
    }


    .select {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;

    }

    .select #select {
        width: 100%;
    }

    .grid-container {
        grid-gap: 20px 20px;
        grid-template-columns: auto;
    }


    .full-2 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .full-2 .top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .full-2 .top label {
        margin-top: 10px;

    }

    .form-group1 #gender,
    .form-group1 #category,
    .form-group1 #country,
    .form-group1 #type {
        width: 90%;

    }

    .btn-file-image {
        display: block;
        margin-left: 5%;
        width: 200px;
    }



    textarea {
        width: 50%;
    }

    .grid-contain {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .right p {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
        padding: 15px 0 0 50px;
    }




    .form-group1 .grid-contain {
        grid-template-columns: auto;
    }

    .footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .form-group1 input[type=text],
    .form-group1 input[type=email],
    .form-group1 input[type=date],
    .form-group1 input[type=number] {
        width: 90%;
        /* margin-left: 5%; */
        height: 30px;
    }

    .first-section h2 {
        text-align: center;
        font-size: 22px;
        margin-left: 0;
        padding: 100px 0px 10px 10px;
    }

    .box {
        width: 100%;
    }

    .grid-item img {
        width: 100%;
    }

    .form-group1 input[type=image] {
        margin-left: 5%;
        padding: 0;
        width: 90%;
    }

    .trio {
        width: 100%;
        height: auto;
    }

    .row-flex-2 {
        flex-direction: column;
        row-gap: 40px;
    }

    .dashboard-8 {
        flex-direction: column;

    }

    .inner-dashboard {
        flex-direction: column;
    }


    .full .left-8 {
        padding-left: 5%;
        padding-top: 0px;
    }

    .full right-8 {
        padding: 0;
    }

    .left1,
    .right1 {
        text-align: center;
    }

    .left1 h4,
    .right1 h4 {
        padding: 0 0 0 0px;
    }

    .right1 h1 {
        padding: 0 0 0 0px;
    }

    .left1 button,
    .right1 button {
        left: 0;
    }

    .first-section-8 h2 {
        padding: 0;
    }

    .first-section-8 {
        text-align: center;
    }

    .first-section-8 p {
        padding: 0;
    }

}